body {
    padding: 8%;
}


.quadro {
    border-radius: 10%;
    background-color: rgb(168, 168, 168);
    color: black; 

    padding: 1%;
    width: 30%;
    height: 39rem;

    display: block;
    margin: auto;

    text-align: center;

}


.quadro .mb-3 {
    padding-left: 0px;
}

.perfil img {
    height: 110px;
    width: 110px;
}


.cadeado img {
    height: 90px;
    width: 90px;
    padding-bottom: 10px;
}


.quadro .dados {
    font-size: 30px;
    padding-left: 30px;
}

div button {
    background-color: black;
    color: aliceblue;
    border-radius: 15%;
    width: 200px;
    height: 50px;

    margin-top: 60px;
    margin-bottom: 50px;
}